/* ListJobs.css */

.job-container {
    height: 150px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none; 
    color: inherit; 
}

.job-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff; /* Màu xanh biển */
}

.job-info {
    padding-right: 20px;
    cursor: pointer;
}

.job-save {
    color: #dc3545; /* Màu đỏ */
}

.sort-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sort-count-container .job-count {
    font-weight: bold;
    color: #007bff; /* Màu xanh biển */
}
